@using RDrive.ViewModels.MenuViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clever Bootstrap 4 Admin Template">
    <meta name="author" content="Lukasz Holeczek">
    <meta name="keyword" content="Clever Bootstrap 4 Admin Template">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css" />
</head>
<body>
    <header role="banner">
        <h1>Панель Адміністратора</h1>
        <ul class="utilities">
            <li class="users"><a href="#">Профайл</a></li>
            <li class="logout warn"><a asp-controller="Account" asp-action="LogOut">Вийти</a></li>
        </ul>
    </header>
    <nav role="navigation">
        <ul class="main">
            @{
                MenuViewModel menu = ViewData["Menu"] as MenuViewModel;

                foreach (MenuViewModelItem item in menu.Items)
                {
                    <li>
                        <a class="admin-nav-items" asp-controller="@item.ControllerName" asp-action="@item.ActionName">@item.Title</a>
                    </li>
                }
            }
        </ul>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
    <footer role="contentinfo">Developed by Optic</footer>
</body>
</html>
