@using RDrive.ViewModels.AdminViewModels.DriverViewModel
@model EditDriverAdminViewModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Driver Account";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />


<form asp-action="EditDriverInformation" class="form">
    <section class="panel important">
        <input type="hidden" name="id" value="@Model.Id" />


        <h3 class="section-title">Personal information</h3>
        <div class="section-form">
            <div class="form-group">
                <label for="" class="form__field__label">FirstName <span>*</span></label>
                <input type="text" name="firstName" class="form__field" value="@Model.FirstName">
                <span asp-validation-for="FirstName"></span>

            </div>
            <div class="form-group">
                <label for="" class="form__field__label">LastName <span>*</span></label>
                <input type="text" name="lastName" class="form__field" value="@Model.LastName">
                <span asp-validation-for="LastName"></span>

            </div>
            <div class="form-group">
                <label for="" class="form__field__label">MiddleName</label>
                <input type="text" name="middleName" class="form__field" value="@Model.MiddleName">
                <span asp-validation-for="MiddleName"></span>

            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Personal Phone Number <span>*</span></label>
                <input type="text" name="phoneNumber" class="form__field" value="@Model.PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>

            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Creation Date: @Model.CreationDate <span>*</span></label>
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">IsVerified<span>*</span></label>
                <select class="form__field" name="IsVerified">
                    @if (Model.IsVerified)
                    {
                        <option value="True">True</option>
                        <option value="False">False</option>
                    }
                    else
                    {
                        <option value="False">False</option>
                        <option value="True">True</option>
                    }

                </select>
            </div>
        </div>

        <h3 class="section-title">Living information</h3>
        <div class="section-form">
            <div class="form-group">
                <label for="" class="form__field__label">Address <span>*</span></label>
                <input type="text" class="form__field" name="addressLine" value="@Model.AddressLine">
                <span asp-validation-for="AddressLine"></span>

            </div>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <button type="submit" class="btn btn--main">Edit</button>
    </section>
</form>

<section class="panel important">
    <div class="section-form">
        <div id="subjectsGrid" style="width: 100%; padding-bottom: 0px;"></div>
        <div id="subjectDetails"></div>
    </div>
</section>

<script type="text/x-kendo-template" id="createWindowTemplate">
    <div id="details-container">
        <h6 class="text-danger" id="createTabError"></h6><br />
        <div class="table-modal-btn">
            <button type="button" class="btn confirm-button" onclick="createSubject(this)">Create</button>
            <button type="button" class="btn cancel-button" onclick="closeModal(this)">Cancel</button>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="deleteWindowTemplate">
    <div id="details-container">
        <h4>Are you sure to delete item?</h4><br />
        <button type="button" class="btn confirm-button" onclick="confirmDelete(this)">Confirm</button>
        <button type="button" class="btn cancel-button" onclick="closeModal(this)">Cancel</button>
    </div>
</script>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
